.layout-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50% 50%;
	height: 100vh;
	grid-gap: 10px;
	padding: 10px;
}

.members-area {
	grid-column-start: 1;
	grid-column-end: -1;
}
